name: Build iOS Unity (GameCI v4 Personal License)

on:
  workflow_dispatch:

jobs:
  build-ios:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build iOS Xcode Project
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          unityVersion: 2022.3.62f2
          targetPlatform: iOS
          buildName: VsSolitaire
          buildsPath: build
          allowDirtyBuild: true

      - name: Upload iOS Xcode Project
        uses: actions/upload-artifact@v4
        with:
          name: iOS-Project
          path: build/iOS
