name: Build iOS Unity (Ubuntu Builder)

on:
  workflow_dispatch:

jobs:
  build-ios:
    runs-on: ubuntu-latest

    env:
      UNITY_VERSION: 2022.3.62f2
      TARGET_PLATFORM: iOS
      PROJECT_PATH: .
      BUILD_PATH: build/iOS
      BUILD_NAME: VsSolitaire
      UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build iOS Xcode project
        uses: game-ci/unity-builder@v4
        with:
          unityVersion: ${{ env.UNITY_VERSION }}
          targetPlatform: ${{ env.TARGET_PLATFORM }}
          buildName: ${{ env.BUILD_NAME }}
          buildPath: ${{ env.BUILD_PATH }}
          projectPath: ${{ env.PROJECT_PATH }}
          allowDirtyBuild: true
          unityLicense: ${{ secrets.UNITY_LICENSE }}

      - name: Upload Xcode project
        uses: actions/upload-artifact@v4
        with:
          name: iOS-Project
          path: build/iOS
